page-display {
    #save {
        //background-image: url('../../assets/imgs/ad.jpg');
        background-color:  black;
        margin-left: 120px;
        margin-top: 10px;
        width: 40%;
        display: inline-block;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color:white;
        border: none;
        border-radius: 15px;
    }

    .header .col {
        margin-top: 8px;
        font-size: 20px;
        text-align: center;
        font-style: bold;
        border: 9px solid black;
        color:white;
    }

    .col {
        border: 5px solid white;
        text-align: center;
        font-size: 16px;
        border-bottom-style: none;
        border-right-style: none;
    }
    h1 {
        text-align: center;
        font-size: 30px;
        color: black;
    }

    ion-content {
        background-image: url('../../assets/imgs/ad.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}
