page-home {
    h1{
        text-align: center;
        font-size: 40px;
        color:black;
    }
    #save {
        //background-image: url('../../assets/imgs/ad.jpg');
        background-color:  black;
        margin-left: 120px;
        margin-top: 420px;
        width: 40%;
        display: inline-block;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: white;
        border: none;
        border-radius: 15px;
    }

    ion-content {
        background-image: url('../../assets/imgs/ad.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}
