page-done {
    h1 {
        text-align: center;
        font-size: 30px;
        color: black;
    }

    ion-content {
        background-image: url('../../assets/imgs/ad.jpg');
        //background-repeat: no-repeat;
        background-size: cover;
    }
    ion-input {
        //background-color:  #a4c639;
        border: 3px solid black;
    }

    #save {
        //background-image: url('../../assets/imgs/ad.jpg');
        background-color:  black;
        margin-left: 115px;
        margin-top: 190px;
        width: 40%;
        display: inline-block;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color:white;
        border: none;
        border-radius: 15px;
    }
}
